/* color palette from <https://github.com/vuejs/theme> */
:root {

  --primary-color: rgb(0, 255, 242);
  --primary-color-hover: rgb(9, 127, 121);
  --background-primary-color: rgb(19, 19, 33);
  --background-secondary-color: rgb(30, 30, 51);
  --font-color: #fff;
  --radius: 4px;
  --transition: 0.3s ease;

}